#cover h1 {
  margin:30px 0 0;
  color:#FFF;
  text-align:center;
  font-size:70px;
}
#cover p {
  margin:10px 0 0;
  text-align:center;
  color:#FFF;
  font-style:italic;
  font-size:20px;
}
#Cover p a {
  color:#FFF;
}

.slide h2 {
  color: #000;
}

.slide ol li::before, .slide ul li::before {
  color: #262626;
}

section.slide.active {
  margin-left: auto;
}

#s01-intro h2 {
  display: none;
}

#s01-intro {
 background: url(images/Beachwood-Canyon-Drum/1600x1068.jpg);
 background-size: 100%;
}

#s01-intro div {
  padding: 45px 120px 0;
}

#s01-intro a {
  color: black;
}
#s01-intro ul {
  font-size: 28px;
  font-weight: bold;
}

#s01-intro li::before {
  display: none;
}

#s01-intro ul ul li {
  display: inline;
}

#s01-intro ul ul li:last-of-type {
  margin-left: 36px;
}

#s02-attacks {
  background: url(images/Old-Electricity-House/1600x1068.jpg);
  background-size: 100%;
}

#s02-attacks li::before {
  color: transparent;
}

#s02-attacks li {
  background-color: black;
  width: 440px;
  padding: 5px;
  line-height: 1;
}

#s02-attacks > div, #s03-what-csp-does > div {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.1);
  font-size: 32px;
  padding: 297px 120px 0;
}

#s03-what-csp-does > div {
  background: rgba(182, 180, 219, 0.5);
}

#s02-attacks > div {
  color: white;
  padding: 8px 66px 0;
}
#s02-attacks h2 {
  color: white;
}

#s02-attacks ul:first-of-type li:last-of-type {
  transform: rotate(-7deg);
  position: relative;
  top: 32px;
}

#s02-attacks ul:last-of-type li:last-of-type {
  position: absolute;
  color: white;
  right: 33px;
  transform: rotate(-16deg);
  bottom: 68px;
}


#s03-what-csp-does {
 background: url(images/Log-Across-the-River/1600x1068.jpg) 0;
 background-size: 100%;
}

#s04-what-csp-looks-like {
 background: url(images/csp.png) no-repeat #fff;
 background-position-y: 60%;
 background-size: 100%;
}

#s04-what-csp-looks-like > div {
  padding: 63px 120px 0;
}

#s05-why-csp-matters {
 background: url(images/Railroad/1600x1068.jpg);
 background-size: 100%;
}

#s05-why-csp-matters h2 {
  position: absolute;
  top: 15px;
  right: 200px;
}
#s05-why-csp-matters p {
  background: #fff;
}

#s05-why-csp-matters blockquote::before {
  display: none;
}
#s05-why-csp-matters blockquote {
  transform: rotate(-3deg);
}
#s05-why-csp-matters blockquote:last-of-type {
  transform: rotate(5deg);
  width: 32rem;
  position: absolute;
  bottom: 20px;
}

#s06-demo {
  background: url(images/Her-Eye/1600x1068.jpg);
  background-size: 100%;
}

#s06-demo > div {
  padding: 40px 120px 0;
}

#s06-demo a {
  font-size: 34px;
  color: #000;
  font-weight: bold;
  background: none;
}
#s06-demo a:first-of-type {
  position: absolute;
  left: 582px;
  top: 182px;
  transform: rotate(-16deg);
}
#s06-demo p:last-of-type a {
  position: absolute;
  top: 300px;
  left: 570px;
  transform: rotate(21deg);
}

#s07-who-is-finding-it-tough {
  background: url(images/Native-Fishing-Dock/1600x1068.jpg);
  background-size: 100%;
}

#s07-who-is-finding-it-tough > div > ul {
  margin-top: -66px;
}

#s07-who-is-finding-it-tough img {
  width: 597px;
  margin: 0 0 -78px -76px;
  padding: 0;
}

#s07-who-is-finding-it-tough > div {
  background-color: rgba(255,255,255,0.7);
}
#s07-who-is-finding-it-tough > div > ul > li::before {
  color: transparent;
}

#s07-who-is-finding-it-tough a {
  color: #000;
  background: none;
}

#s08-top-million-sites {
 background: url(images/csp-usage.png) -56px -27px;
}

#s09-why-is-it-hard {
  background: url(images/Foggy-Hills/1600x1068.jpg);
  background-size: 100%;
}

#s10-libraries {
  background: url(images/Stairwell/1600x1068.jpg);
  background-size: 100%;
}

#s10-libraries > div {
  background-color: rgba(0, 0, 0, 0.44);
}

#s10-libraries h2 {
  color: white;
}

#s10-libraries ul li::before {
  color: transparent;
}
#s10-libraries ul {
  position: absolute;
  color: white;
  right: 10px;
  width: 600px;
  font-size: 29px;
  font-weight: bold;
  line-height: 88px;
}

#s11-libs-most-restrictive {
  background: url(images/Eagle/1600x1068.jpg);
  background-size: 100%;
}
#s11-libs-most-restrictive > div {
  padding-top: 33px;
}

#s11-libs-most-restrictive code {
  position: absolute;
  bottom: 0;
  right: 67px;
  font-size: 20px;
}

#s12-libs-make-it-static {
  background: url(images/Windmill/1600x1068.jpg);
  background-size: 100%;
}

#s13-provide-an-example-policy {
  background: url(images/Red-Rose/1600x1068.jpg);
  background-size: 100%;
}

#s13-provide-an-example-policy h2 {
  color: white;
}
#s13-provide-an-example-policy > div {
  padding-top: 29px;
  color: white;
}

#s14-JSON-CSP {
  background: url(images/Jellyfish/1600x1068.jpg);
  background-size: 100%;
}
#s14-JSON-CSP > div {
  padding: 416px 815px 0;
}

#s15-reporting {
  background: url(images/Green-Seeds/1600x1068.jpg);
  background-size: 100%;
}

#s15-reporting li::before {
  display: none;
}

#s15-reporting h2 {
  color: white;
}

#s15-reporting li {
  background-color: white;
  padding-left: 3em;
  margin-bottom: 1em;
}

#s15-reporting li ul, #s15-reporting li ul li {
  display: inline;
}

#s16-secure-fail {
  background: url(images/Lobster/1600x1068.jpg);
  background-size: 100%;
}
#s16-secure-fail h2 {
  color: white;
}
#s16-secure-fail > div {
  padding-top: 23px;
  color: white;
}

#s17-thanks {
  background: url(images/Ice-Fire/1600x1068.jpg);
  background-size: 100%;
}

#s17-thanks h2 {
  color: white;
}
#s17-thanks > div {
  color: white;
  padding: 16px 53px 0;
}
#s17-thanks li::before {
  color: transparent;
}
#s17-thanks a {
  font-weight: bold;
  color: white;
}

#s17-thanks ul:last-of-type {
  top: -54px;
  position: relative;
}
